<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <!-- Navbar -->
    <header><%- include('../partials/navbar'); %></header>

    <!-- Hero Section -->
    <div
      class="container-fluid bg-secondary d-flex justify-content-center align-items-center"
      style="height: 50vh"
    >
      <div>
        <h1 class="text-light text-center display-3">ABOUT ME</h1>
      </div>
    </div>
    <!-- About Me Card -->
    <div class="container my-5 py-4">
      <div class="row">
        <div class="col-md-8 col-10 m-auto p-3 bg-dark">
          <div
            class="rounded-circle m-auto mt-2"
            style="width: 130px; height: 130px"
          >
            <img
              src="./images/pexels-bruno-salvadori-2269872.jpg"
              alt=""
              class="rounded-circle w-100"
            />
          </div>

          <h3 class="text-light fs-2 text-center mt-2 px-2">John Doe</h3>

          <p class="text-light p-md-4 p-1">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
