<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <!-- Navbar -->
    <header><%- include('../partials/navbar'); %></header>

    <!-- Hero Section -->
    <div
      class="container-fluid bg-secondary d-flex justify-content-center align-items-center"
      style="height: 50vh"
    >
      <div>
        <h1 class="text-light text-center display-3">PROJECTS</h1>
      </div>
    </div>
    <!-- Projects Section -->
    <div class="container mt-5">
      <!-- project section heading -->
      <h2 class="bg-dark text-light py-1 fs-3 mb-4 rounded px-3">
        Projects list
      </h2>

      <!-- projects # -->
      <div class="row mb-5 pb-5">
        <div class="col-lg-8 col-12">
          <div class="px-3">
            <h2 class="fs-3 border-bottom border-dark pb-2 mb-2">Project 1</h2>

            <h3 class="fs-4 mb-0">Project Name</h3>
            <small class="pb-2">July 2020 - March 2021</small>

            <div class="mt-3">
              <h3 class="fs-4 mb-0">Project Description</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </p>
            </div>

            <div>
              <h3 class="fs-4 mb-0">My Role</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </p>
            </div>

            <div>
              <h3 class="fs-4 mb-0">Outcomes</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged.
              </p>
            </div>
          </div>
        </div>
        <!--  -->
        <div
          class="col-12 col-lg-4 bg-dark rounded p-3 py-4"
          style="height: fit-content"
        >
          <div class="row">
            <div class="col-6 col-lg-12">
              <img
                src="/images/drill-g4b68def0f_1280.jpg"
                class="w-100 rounded mb-0 mb-lg-3"
                alt=""
              />
            </div>
            <div class="col-6 col-lg-12">
              <img
                src="/images/milling-gc74f945f7_1280.jpg"
                class="w-100 rounded"
                alt=""
              />
            </div>
          </div>
        </div>
        <!--  -->
      </div>

      <!-- projects # -->
      <div class="row mb-5 pb-5">
        <div class="col-lg-8 col-12">
          <div class="px-3">
            <h2 class="fs-3 border-bottom border-dark pb-2 mb-2">Project 2</h2>

            <h3 class="fs-4 mb-0">Project Name</h3>
            <small class="pb-2">July 2020 - March 2021</small>

            <div class="mt-3">
              <h3 class="fs-4 mb-0">Project Description</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </p>
            </div>

            <div>
              <h3 class="fs-4 mb-0">My Role</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </p>
            </div>

            <div>
              <h3 class="fs-4 mb-0">Outcomes</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged.
              </p>
            </div>
          </div>
        </div>
        <!--  -->
        <div
          class="col-12 col-lg-4 bg-dark rounded p-3 py-4"
          style="height: fit-content"
        >
          <div class="row">
            <div class="col-6 col-lg-12">
              <img
                src="/images/drill-g4b68def0f_1280.jpg"
                class="w-100 rounded mb-0 mb-lg-3"
                alt=""
              />
            </div>
            <div class="col-6 col-lg-12">
              <img
                src="/images/milling-gc74f945f7_1280.jpg"
                class="w-100 rounded"
                alt=""
              />
            </div>
          </div>
        </div>
        <!--  -->
      </div>

      <!-- projects # -->
      <div class="row mb-5 pb-5">
        <div class="col-lg-8 col-12">
          <div class="px-3">
            <h2 class="fs-3 border-bottom border-dark pb-2 mb-2">Project 3</h2>

            <h3 class="fs-4 mb-0">Project Name</h3>
            <small class="pb-2">July 2020 - March 2021</small>

            <div class="mt-3">
              <h3 class="fs-4 mb-0">Project Description</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </p>
            </div>

            <div>
              <h3 class="fs-4 mb-0">My Role</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </p>
            </div>

            <div>
              <h3 class="fs-4 mb-0">Outcomes</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged.
              </p>
            </div>
          </div>
        </div>
        <!--  -->
        <div
          class="col-12 col-lg-4 bg-dark rounded p-3 py-4"
          style="height: fit-content"
        >
          <div class="row">
            <div class="col-6 col-lg-12">
              <img
                src="/images/drill-g4b68def0f_1280.jpg"
                class="w-100 rounded mb-0 mb-lg-3"
                alt=""
              />
            </div>
            <div class="col-6 col-lg-12">
              <img
                src="/images/milling-gc74f945f7_1280.jpg"
                class="w-100 rounded"
                alt=""
              />
            </div>
          </div>
        </div>
        <!--  -->
      </div>
    </div>
  </body>
</html>
