<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <!-- Navbar -->
    <header><%- include('../partials/navbar'); %></header>
    <!-- Hero Section -->
    <div
      class="container-fluid bg-secondary d-flex justify-content-center align-items-center"
      style="height: 50vh"
    >
      <div>
        <h1 class="text-light text-center display-3">SERVICES</h1>
      </div>
    </div>

    <!-- Services Section -->
    <div class="container mt-5">
      <!-- Service section heading -->
      <h2 class="bg-dark text-light py-1 fs-3 mb-4 rounded px-3">Services</h2>

      <!-- Services # -->
      <div class="px-3 mb-5 pb-3">
        <h3 class="fs-3 border-bottom border-dark pb-2 mb-2">
          App Development
        </h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book
        </p>
        <ul>
          <li>Flutter</li>
          <li>Ruby on rails</li>
          <li>Cloure js</li>
          <li>Pearl</li>
          <li>Django</li>
          <li>React Native</li>
          <li>Swift</li>
        </ul>
        <!-- Images Section -->
        <div class="row p-2">
          <div class="col-6 col-sm-4 mb-3 mb-sm-0">
            <img
              src="/images/tools-g7fc973325_1280.jpg"
              class="w-100 rounded"
              alt=""
            />
          </div>
          <div class="col-6 col-sm-4 mb-3 mb-sm-0">
            <img
              src="/images/board-gddc2f5f60_1280.jpg"
              class="w-100 rounded"
              alt=""
            />
          </div>
          <div class="col-6 col-sm-4 m-auto">
            <img
              src="/images/drill-g4b68def0f_1280.jpg"
              class="w-100 rounded"
              alt=""
            />
          </div>
        </div>
      </div>

      <!-- Services # -->
      <div class="px-3 mb-5 pb-3">
        <h3 class="fs-3 border-bottom border-dark pb-2 mb-2">
          Web Development
        </h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book
        </p>
        <ul>
          <li>Flutter</li>
          <li>Ruby on rails</li>
          <li>Cloure js</li>
          <li>Pearl</li>
          <li>Django</li>
          <li>React Native</li>
          <li>Swift</li>
        </ul>
        <!-- Images Section -->
        <div class="row p-2">
          <div class="col-6 col-sm-4 mb-3 mb-sm-0">
            <img
              src="/images/tools-g7fc973325_1280.jpg"
              class="w-100 rounded"
              alt=""
            />
          </div>
          <div class="col-6 col-sm-4 mb-3 mb-sm-0">
            <img
              src="/images/board-gddc2f5f60_1280.jpg"
              class="w-100 rounded"
              alt=""
            />
          </div>
          <div class="col-6 col-sm-4 m-auto">
            <img
              src="/images/drill-g4b68def0f_1280.jpg"
              class="w-100 rounded"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
